@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");

body {
  background: #f3f3f3;
  font-family: "Roboto", sans-serif;
}

.header-footer {
  width: 100vw;
  height: 80px;
  padding: 0 6%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  left: 0;

  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

header {
  top: 0;
}

header img {
  width: 75px;
  height: 53px;
}

header ion-icon {
  font-size: 45px;
}

footer {
  bottom: 0;
  gap: 14px;
}

footer div {
  flex-grow: 1;
}

input {
  width: 100%;
  font-size: 18px;
  line-height: 25px;
}

input::placeholder {
  opacity: 1;
  font-style: italic;
}

main {
  margin: 106px 0;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

li {
  width: 100%;
  padding: 12px 8px;
  border-radius: 2px;

  font-size: 14px;
  line-height: 16px;
}

.status-message {
  background: #dcdcdc;
}

.message {
  background: #fff;
}

.private-message {
  background: #ffdede;
}

.time {
  color: #aaa;
}

.from,
.to {
  font-weight: 700;
}

footer p {
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #505050;
}

footer ion-icon {
  font-size: 26px;
}
