@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");

body {
  background: #f3f3f3;
  font-family: "Roboto", sans-serif;
}

.login {
  width: 100vw;
  height: 100vh;
  background: #fff;

  padding: 12vh;
}

.login * {
  display: block;
  margin: 0 auto;
}

.login img {
  width: 130px;
  height: 92px;
}

input {
  font-size: 18px;
  line-height: 25px;
}

input::placeholder {
  opacity: 1;
}

.login input {
  width: 70%;
  height: 54px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  text-align: center;

  margin: 14vh auto 3vh;
}

.login input::placeholder {
  color: #aeaeae;
}

button {
  width: 109px;
  height: 45px;

  background: #e7e7e7;
  border-radius: 9px;

  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #696969;
}

.header-footer {
  width: 100vw;
  height: 80px;
  padding: 0 6%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  left: 0;

  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

header {
  top: 0;
}

header img {
  width: 75px;
  height: 53px;
}

header ion-icon {
  font-size: 45px;
}

main {
  margin: 106px 0;
}

main ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

main li {
  width: 100%;
  padding: 12px 8px;
  border-radius: 2px;

  font-size: 14px;
  line-height: 16px;
  /* TODO: add word-break so big word not mess up layout */
}

.status-message {
  background: #dcdcdc;
}

.message {
  background: #fff;
}

.private-message {
  background: #ffdede;
}

.time {
  color: #aaa;
}

.from,
.to {
  font-weight: 700;
}

aside:empty {
  display: none;
}

aside {
  width: 100vw;
  height: 100vh;

  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

aside .close {
  width: 40%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);
}

aside .side-menu {
  width: 60%;
  height: 100%;
  background: #fff;
  margin: 24px 0;
}

h2 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  text-align: center;
}

.contacts ion-icon {
  font-size: 25px;
}

aside ul {
  margin: 36px 0;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

aside li {
  padding: 0 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

aside p {
  font-size: 16px;
  line-height: 19px;
}

.check {
  margin-left: auto;
  opacity: 0;
}

.selected .check {
  opacity: 1;
}

.visibility ion-icon {
  font-size: 22px;
}

footer {
  bottom: 0;
  gap: 14px;
}

footer div {
  flex-grow: 1;
}

footer input {
  width: 100%;
}

footer input::placeholder {
  font-style: italic;
}

footer p {
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #505050;
}

footer ion-icon {
  font-size: 26px;
}
