@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: #f3f3f3;
}

.main-page,
.login-page {
  display: none;
}

.main-page.active,
.login-page.active {
  display: initial;
}

.login-page.active {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  padding: 72px 0;
  background: #fff;
}

.login-page .login img {
  width: 130px;
  height: 92px;
}

.login-page div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.login-page .login.hide,
.login-page .loading.hide {
  display: none;
}

.login p {
  display: none;
}

.loading p {
  color: #b95842;
}

.login.error p {
  display: initial;
  color: #c40303;
}

.login.error input {
  border: 1px solid #c40303;
}

.login-page input {
  width: 261px;
  height: 54px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  text-align: center;

  font-size: 18px;
  line-height: 25px;
}

.login-page input::placeholder {
  color: #aeaeae;
  opacity: 1;
}

.login-page button {
  width: 109px;
  height: 45px;
  background: #e7e7e7;
  border-radius: 9px;

  font-size: 18px;
  line-height: 25px;
  color: #696969;
  text-align: center;
}

header {
  width: 100vw;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px;

  position: fixed;
  left: 0;
  top: 0;

  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

header img {
  width: 75px;
  height: 53px;
}

header ion-icon {
  font-size: 45px;
}

main {
  margin: 106px 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

main p {
  font-size: 14px;
  line-height: 16px;

  padding: 12px 8px;
  border-radius: 2px;
}

.status {
  background: #dcdcdc;
}

.message {
  background: #fff;
}

.private {
  background: #ffdede;
}
.time {
  color: #aaa;
}

.from,
.to {
  font-weight: 700;
}

aside {
  display: none;
}

aside.open {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 1;
}

aside .close {
  width: 32vw;
  background: rgba(0, 0, 0, 0.6);
}

aside .selection {
  width: 68vw;
  background: #fff;
}

aside h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 20px 0;
}

aside .option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 5px 18px;
}

aside img {
  display: none;
}

aside .active img {
  display: initial;
}

aside p {
  margin-right: auto;
}

aside ion-icon {
  font-size: 25px;
}

footer {
  width: 100vw;
  height: 80px;

  display: flex;
  gap: 5px;
  align-items: center;

  padding: 0 22px;

  position: fixed;
  left: 0;
  bottom: 0;

  background: #fff;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.05);
}

footer div {
  margin-top: 15px;
  flex-grow: 1;
}

footer input {
  font-size: 18px;
  line-height: 21px;
  width: 100%;
}

footer input::placeholder {
  font-style: italic;
  opacity: 1;
}

footer p {
  color: #505050;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
}

footer ion-icon {
  font-size: 26px;
}
